<!-- Start breadcrumb -->
<div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li><a routerLink="/products">Products / </a></li>
                <li class="active"> Product Admin</li>
            </ol>
        </div>
    </div>
    <!-- End breadcrumb -->
<p>
    <a id="btnNew" routerLink="/admin/products/new" class="btn btn-primary"><i class="fas fa-plus-circle"></i> New product</a>
</p>
<p>
    <input type="text" class="form-control" #query (keyup)="filter(query.value)" placeholder="Search ...">
</p>
<div>
    <table   class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsFiltered">
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td><a [routerLink]="['/admin/products/', product.id]"class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>